<template>
  <div>
    <slot>
    </slot>
  </div>
</template>

<script>
export default {
  props: ['rules'],
  mounted() {
    // вложенный RBox монтируется первым
    const componentTag = this.$options._componentTag;
    this.$slots.default
      .filter(obj => obj.tag.slice(-componentTag.length).toLowerCase() !== componentTag.toLowerCase())
      .forEach(obj => {
        const el = obj.elm;
        this.setElementStyle(el);
        console.log(el);
      })
  },
  data: function() {
    return {
      // [ { el: HTMLElement, style: [ { attr: string, value: string } ] ]
      // attr из this.rules.attrs, value переданный в атрибут
      styledElements: []
    }
  },
  watch: {
    windowWidth: function() {
      this.styledElements.forEach(
        ({el, style}) => el.setAttribute('style', style.map(s => this.getStyleValue(s)).join('; ')));
    }
  },
  methods: {
    setElementStyle (el) {
      const style = Object.keys(this.rules.attrs)
        .filter(attr => el.hasAttribute(attr))
        .map(attr => {
          const value = el.getAttribute(attr);
          // el.removeAttribute(attr);
          const s = this.getStyleValue({attr, value});
          const newSe = this.styledElements.find(se => se.el === el) || {el, style:[]}
          newSe.style.push({attr, value});
          newSe.style.length === 1 && this.styledElements.push(newSe);
          return s;
        })
        .join('; ');
      style && el.setAttribute('style', style);
      Array.from(el.children)
        .filter(ch => !this.styledElements.some(se => se.el === ch))
        .forEach(this.setElementStyle);
    },
    getStyleValue({attr, value}) {
      const selectValue = values => {
        // 0 | (S1) | 1 | (S2) | ... | n-1 | (Sn) | n
        const index = this.rules.sizes.reduce((i, s) => this.windowWidth <= s ? i : i + 1, 0);
        if (index > values.length - 1 || !values[index]) {
          return values
            .slice(0, index + 1)
            .reduceRight((acc, v, i, arr) => acc || arr[i], values[index]);
        }
        return values[index];
      }
      const toKebabCase = camelCase => camelCase
          .replace(/([a-z0-9])([A-Z])/g, '$1-$2')
          .replace(/([A-Z])([A-Z])(?=[a-z])/g, '$1-$2')
          .toLowerCase();

      const val = value.split(':').length === 1 ? value : selectValue(value.split(':'));
      const attrsFromRules = this.rules.attrs[attr](val, this.rules.dict);
      const style = Object.keys(attrsFromRules)
        .map(atr => `${toKebabCase(atr)}: ${attrsFromRules[atr] instanceof Array ? selectValue(attrsFromRules[atr]) : attrsFromRules[atr]}`)
        .join('; ');
      return style;
    }
  }
}
</script>