<template>
  <RBox :rules="rules">
    <div f="rbc" color="blue:pink" font="reg:bold::bold_xl">
      <div m="4" py="100%::5:50px:100vw">some content</div>
      <button btn="pink" font="bold">OK</button>
      <RBox :rules="rules2">
        <div color="#374837:red">OK</div>
      </RBox>
    </div>
    <div>Without style</div>
  </RBox>
</template>

<script>

  import RBox from './components/RBox.vue'

  export default {
    name: 'app',
    components: {
      RBox
    },
    data() {
      return {
        rules: {
          sizes: [320, 576, 922, 1200],
          dict: {
            GAP: 6,
            colors: {
              white: '#ffffff',
              pink: '#f72c74',
              blue: '#3b66ff'
            },
            gapValue(val) {
              const val_copy = val
              const last = val.slice(-1)
              if (last == 'x' || last == '%' || last == 'w') {
                return val_copy
              } else {
                return Number(val_copy) * this.GAP + 'px'
              }
            },
            stdBtn() {
              return {
                borderRadius: '6px',
                boxShadow: '5px 3px  6px',
                width: ['80px', null, '100px', '130px']
              }
            }
          },
          attrs: {
            f(_val) {
              // val = 'rbc'
              // логика по которой определяются следующие параметры
              return {
                display: 'flex',
                flexDirection: 'row',
                justifyContent: 'space-between',
                alignItems: 'center'
              }
            },
            color(val, dict) {
              // 'blue' и 'pink' передаются по отдельности
              return {
                color: dict.colors[val]
              }
            },
            font(val) {
              if (val == 'reg')
                return {
                  fontFamily: 'FuturaBookC',
                  fontSize: ['14px', null, '16px', '18px', '20px']
                }
              else if (val == 'bold')
                return {
                  fontFamily: 'FuturaDemiC',
                  fontSize: ['14px', null, '16px', '18px']
                }
              else if (val == 'bold_xl')
                return {
                  fontFamily: 'FuturaBoldC',
                  fontSize: ['16px', null, '18px']
                }
            },
            m(val, dict) {
              return { margin: dict.gapValue(val) }
            },
            py(val, dict) {
              return {
                paddingTop: dict.gapValue(val),
                paddingBottom: dict.gapValue(val)
              }
            },
            btn(val, dict) {
              if (val == 'pink') {
                return {
                  ...dict.stdBtn(),
                  color: dict.colors.white,
                  backgroundColor: dict.colors.pink,
                  boxShadowColor: dict.colors.pink
                }
              }
            }
          }
        },
        rules2: {
          sizes: [420],
          attrs: {
            color(val) {
              return {
                color: val
              }
            }
          }
        }
      }
    }
  }
</script>